@import 'globals';

body {
  background-color: $color-background;
  color: $color-foreground;

  font-family: $font-family-sans;
  font-weight: $font-weight-normal;

  font-size: inherit;
  line-height: $line-height;

  display: flex;
  flex-direction: column;

  height: 100%;
  min-height: min-content;

  padding: 0;
  margin: 0;
  
  main {
    flex-grow: 999;
  }
}


// // ////////////////////////////////////////////////////////////
// // Desktop/tablet layout

// @media (min-width: $media-breakpoint-width) {
//   html {
//     font-size: 16pt;
//     line-height: $line-height;
//   }
// }

// // ////////////////////////////////////////////////////////////
// // Mobile layout

// @media (max-width: $media-breakpoint-width) {
//   html {
//     font-size: 14pt;
//     line-height: $line-height;
//   }
// }
