// ////////////////////////////////////////////////////////////
// Fonts

$font-family-sans: freight-sans-pro, sans-serif;
$font-family-serif: freight-text-pro, serif;

$font-weight-light: 300;
$font-weight-normal: 400; // actually 'book' but 'normal' is easier to remember
$font-weight-medium: 500;
$font-weight-bold: 700;
