// //////////////////////////////
// Layout

// SCSS math works better on variables than literals
$em: 1em;
$rem: 1rem;

// //////////////////////////////
// Text

// TODO: fewer & more rational font sizes
//$font-size-xxsmall: calc(2 * $rem / 3);
$font-size-xsmall: calc(3 * $rem / 4);
//$font-size-small: calc(8 * $rem / 9);
$font-size-normal: $rem;
$font-size-large: calc(9 * $rem / 8);
$font-size-xlarge: calc(4 * $rem / 3);
$font-size-xxlarge: calc(3 * $rem / 2);
//$font-size-xxxlarge: 2 * $rem;

$line-height: calc(4 * $em / 3);
$line-height-tight: calc(7 * $em / 6);

// //////////////////////////////
// Box layout

// TODO: rationalize vs. font sizes
$margin-xxxlarge: 2 * $rem;
$margin-xxlarge: calc(5 * $rem / 3);
$margin-xlarge: $rem; // TODO: collapse these?
$margin-large: $rem;  // TODO: collapse these?
$margin: calc($margin-large / 2);
$margin-small: calc($rem / 3);
$margin-xsmall: calc($rem / 4);
$margin-xxsmall: calc($rem / 6);
$margin-xxxsmall: calc($rem / 8);

$sitename-baseline-adjust: $font-size-xsmall;
