@import 'body';
@import 'header';
@import 'footer';

$required-color: #ee0000;
$required-indicator: "*";

html {
  height: 100%;
  font-variant-numeric: lining-nums !important;
}

h1 {
  font-size: $font-size-xlarge !important;
  line-height: $line-height !important;
  margin-bottom: $margin-large;
  font-weight: $font-weight-bold;
}

.flash {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid black;
  font-size: $font-size-large;
}

.flash.notice {
  background-color: $color-flash-notice;
  color: white;
}

.flash.alert {
  background-color: $color-flash-alert;
  color: white;
}

// TODO: Fix this... was working then stopped after I added dropdowns
.form-group.required .control-label:after, fieldset.required legend:after {
  content: $required-indicator;
  color: $required-color;
  margin-left: 0.25em;
}
