@import 'body';
@import 'header';
@import 'footer';

html {
  height: 100%;
  font-variant-numeric: lining-nums !important;
}

h1 {
  font-size: $font-size-xlarge !important;
  line-height: $line-height !important;
  margin-bottom: $margin-large;
  font-weight: $font-weight-bold;
}

