<nav class="navbar">
  <div class="container">
    <!-- Logo on the left -->
    <div class="logo">
      <%= link_to (image_tag 'deo_volente_v1.png', { :alt => 'DeoVolente @ UC Berkeley' }), root_path %>
    </div>

    <div class="login-link">
      <%= render 'shared/access_links' %>
    </div>
  </div>
</nav>
