<% if signed_in? %>
  <% if dataverse_user? %>
    <p>TODO: add a description for whatever the landing page should say....?</p>
  <% else %>
    <p>You are NOT a Dataverse user</p>
    <p>You DO NOT get to pass GO... You do not get to collect two hundred dollars!!!!</p>
  <% end %>
<% else %>
  <p>You're not logged in...</p>
<% end %>
